.image-popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /*   display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  gap: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-popup_opened {
  visibility: visible;
}

.image-popup__container {
  position: absolute;
  width: 100%;
  display: grid;
  row-gap: 8px;
  column-gap: 12.5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

.image-popup__close-button {
  background-image: url(../images/image-popup-closeBtn.svg);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  grid-column: 2/3;
}
.image-popup__close-button:hover {
  opacity: 0.4;
}

.image-popup__image {
  max-width: 80vw;
  max-height: 80vh;
  /*   margin: 0;
  padding: 0; */
}

.image-popup__title {
  color: #ffffff;
  background-color: #212121;
  padding: 8px 4px;
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-top: 8px;
  grid-row: 2 / 3;
}

.image-popup__title-holder {
  margin-top: 8px;
  grid-row: 2 / 3;
}
