.page {
  background-color: #fcf5e5;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 630px) {
  .page__section {
    max-width: 288px;
  }
}
